@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
}









body {
  --background-image: var(--background-image-light);
  background-image: var(--background-gradient), var(--background-image);
}

.dark body {
  background-image: var(--background-gradient), var(--background-image-dark);
}

.hero-dark {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../public/img/japan-night.jpg");
  background-size: cover;
  background-position: center;
}

.hero-light {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.979),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../public/img/japan.jpg");
  background-size: cover;
  background-position: center;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: top;
}

@layer base {
  :root {
    --background-image-light: url("../../public/img/japan.jpg");
    --background-image-dark: url("../../public/img/japan-night.jpg");
    --background-gradient: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.767),
      rgba(0, 0, 0, 0)
    );
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background-image: var(--background-image-dark);
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.circle {
  width: 220px;
  height: 220px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
}

.view {
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  perspective: 300px;
}

.plane {
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
}

.plane-after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: rotate 20s infinite linear;
}

.circle::before,
.circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: transparent;
  box-sizing: border-box;
}

.circle::before {
  transform: translateZ(-90px);
}
.circle::after {
  transform: translateZ(90px);
}

.circle:nth-child(1) {
  transform: rotateZ(0deg) rotateX(63.435deg);
}
.circle:nth-child(2) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.circle:nth-child(3) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.circle:nth-child(4) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.circle:nth-child(5) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.circle:nth-child(6) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}