@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-100
}

.hero-dark {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.0)
    ),
    url("../../public/img/dark.jpg");
  background-size: cover;
  background-position: center;
}

.hero-light {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.0)
    ),
    url("../../public/img/light.jpg");
  background-size: cover;
  background-position: center;
}
